---
layout: archive
---

{{ content }}

<p>I'm a passionate Data Scientist, highly skilled in machine learning, data visualization, and creative thinking, with proven ability to explain and present mathematical concepts and results to technical and non-technical audiences.</p>

<p>I am currently working at MIT on the development of high-dimensional mathematical models of biomedical systems, and their application to the development of novel antithrombotic drugs.</p>

<p>I have recently graduated from both a M.Sc. in Industrial Engineering and a MBA, which have equipped me with a holistic approach to a broad variety of problems, and provided me with a solid theoretical basis of computational science, operations, and business strategy.</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
